@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-color:powderblue" ;>
    <h1 style="color:black;">India Mart</h1>
    <p class="lead" style="background-color:powderblue; color :darkblue;">Welcome To IndiaMart. Here you can find list of different products and their sellers. </p>

</div>

<div class="row">
    <div class="col-md-4" style="background-color: lightyellow;">
        <h2>SELLERS</h2>
        <p>
            Below you can find the list of all available Sellers.
        </p>
        <p><a class="btn btn-success" href="https://localhost:44339/Seller/Index">Go to Sellers &spades;</a></p>
    </div>
    <div class="col-md-4">
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4" style="background-color: lightyellow; ">
        <h2>PRODUCTS</h2> 
        <p>Below you can find the list of all available Prodcts.</p>
        <p><a class="btn btn-success" href="https://localhost:44339/Product/Index">Go to Products &clubs;</a></p>
    </div>

</div>